# Webhook WSGI (PythonAnywhere)
Flask>=3.1.0

# Framework Telegram
python-telegram-bot>=22.8

# Variables d'environnement & Timezone
python-dotenv>=1.0.1
pytz>=2025.1

# Base de données (MySQL & SQLite async)
mysql-connector-python>=9.0.0
aiosqlite>=0.21.0

# Réseau & Requêtes asynchrones/synchrones
httpx>=0.28.0
requests>=2.32.0
aiofiles>=24.1.0

# Traitement d'images & Système
Pillow>=11.0.0
psutil>=6.1.0